.menu_wrap a.active {
  border-radius: 16px;
  background: var(--secondary);
  padding: 6px 16px;
  color: #fff;
}

@media only screen and (max-width: 640px) {
  .menu_overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: #0000009f;
    z-index: 1;
    transition: all 0.5s ease;
  }

  .menu_wrap {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    background-image: linear-gradient(
      to right bottom,
    #122047,
    #13224a,
    #142652,
    #162a5a,
    #172e62,
    #183672,
    #183e82,
    #154792,
    #1050a3
    );
    color: #fff;
    z-index: 9999;

    padding: 20px;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }

  .menu_open {
    transform: translateX(0);
  }
}
